
// Small screens

// sticky header

.side-logo {
	position: fixed;
	top: 17%;
	left: 7%;
	width: 4em;
	z-index: 100;
	background-color: white;
}

nav {
	display: inline;
	position: fixed;
	top: 35%;
	left: 7%;
	width: 20%;
	height: 60%;
	color: black;
}

.menu-element {
	display: inline-block;
}


.currentPage {
	position: absolute;
	left: 30%;
	top: 8%;
	font-size: 1.3em;
	border-bottom: 2px solid black;
}





#wrapper {
	display: inline-block;
	position: absolute;
	left: 30%;
	width: 60%;
	top: 12%;
	height: 75%;
	overflow: hidden;
	float:left;
	max-width: 40em;
}







.article {
	border-top: 2px solid #ddd;
	margin: 10px;
	max-width: 32em;

	.article-image {
		width: 60%;
		position: relative;
		display: inline-block;
		margin: .5em auto;
		float:right;
		img {
			float: right;
		}
	}
}

nav {
	

	ul {
		
		top: 2em;
	}

	li {
		font-size: 1.2em;
		height: 2em;
		width: 100%;
		position: relative;

		a:hover {
			color: #777;
		}
		
	}
}

.headlines {
	margin: 5em 2em 6em;

	ul {
		list-style: square;
	}
	li {
		margin-bottom: 1em;
	}
}

#footer {

	display: block;
	margin: 2em 0 2em;
	padding-top: 1em;
	padding-right: 3em;
	position:  relative;
	left: 1em;
	border-top: 2px solid #ddd;
	width: 80%;

	font-size: 0.7em;
}


// Admin Page

.login-form {
	position: absolute;
	top: 23%;
	left: 30%;
	width: 40%;

	margin: 20px auto;
    padding: 40px 20px;
    overflow: auto;
    background: #ccc;
    border: 1px solid #666;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;  
    border-radius: 3px;

    label {
    	display: inline-block;
    	width: 8em;
    }
   

}


.adminHeader {
	position: absolute;
	left: 7%;
	top: 33%;
	width: 15%;
	font-size: 1.2em;
}



.article-table {
	margin-top: 6em;
	margin-bottom: 6em;
	font-size: 0.8em;

	th {
		font-weight: bold;
		width: 15%;
		height: 2em;
		border-bottom: 2px solid black;
		margin-bottom: 0.2em;
	}

	tbody tr {
		height: 1.3em;
		&:hover {
			background-color: #aab;
		}
	}



	tr:nth-child(2n) {
		background-color: #eef;
	}
}

// edit Article

.image-thumbs {
	border: 3px solid #aaa;
	padding: .3em;
	label {
		font-size: .9em;
		font-weight: bold;
		vertical-align: top;  
	}
}

.image-thumb {
	display: block;
	button {
	float: right;
	margin-right: 1em;
	font-size: .7em;
	}
}

.image-form-wrapper {
	position: relative;
	display: block;
	padding: 1.5em;
	border: solid 2px black;
	height: 11em;
}




.column {
	display: inline-block;
	width:49%;
	height: 7em;
	float: left;
}

.image-preview {
	height: 10em;
	float: right;
	img {
		height: 100%;
	}
	
}
.clear-float {
	display: block;
}









