
// Small screens

// sticky header

.side-logo {
	position: fixed;
	top: 12%;
	left: 7%;
	width: 4em;
	z-index: 100;
	background-color: white;
}

nav {
	display: inline;
	position: fixed;
	top: 35%;
	left: 7%;
	width: 20%;
	height: 60%;
	color: black;
}


.currentPage {
	display: none;
}





#content {
	display: inline-block;
	position: absolute;
	left: 30%;
	width: 60%;
	top: 12%;
	height: 75%;
	overflow: hidden;
	float:left;
}






.article {
	border-top: 2px solid #ddd;
	margin: 10px;
}

nav {
	

	ul {
		
		top: 2em;
	}

	li {
		font-size: 1.5em;
		height: 3em;
		width: 100%;
		position: relative;
		
	}
}

#footer {

	display: block;
	margin: 2em 0 2em;
	padding-top: 1em;
	padding-right: 3em;
	position:  relative;
	left: 1em;
	border-top: 2px solid #ddd;
	width: 80%;
}








