// ************** HEADER

.side-logo {
	font-size: 1.8em;
}

//  *************** Content

.article {
	margin-top: 2.5em;
	padding: 5px;
	
	h2 {
		margin-top: 2em;
		font-size: 1.15em;
		margin-bottom: 1em;
	}
	h3 {
		font-size: 0.9em;
		margin-top: 1.3em;
	}

	p {
		margin-top: 0.5em;
		font-size: 0.8em;
		line-height: 1.5;
		text-align: justify;
	}

	.title {
		font-size: 1.6em;
		margin-bottom: 3em;
	}
}




// SIDE-MENU

// disable menu button

input#open-menu {
	display: none;
}


label.open-menu-label {
	display: none;
}

nav {
	.active {
		border-bottom: 2px solid black;
	}
}

// _____________________________________ editArticle.php

#wrapper {
	label {
		display:block;
		margin-bottom: .4em;
	}

	input, textarea {
		margin-bottom: 2em;
	}

	textarea {
		width: 35em;
		height: 30em;
	}

	.page-radiobuttons {
		display: block;
		margin-bottom: 2em;
		

		.page-radiobutton {
				display: inline-block;
				padding: 0 .7em;
				border-left: 2px solid #aaa;
				border-right: 2px solid #aaa;
				input {
					margin-bottom: 0 !important;
				}

			}
			/*.input-wrapper input {
				width: 1em;
				left: 50%;
				position: relative;
				transform: translate(.5em, 0);
			}*/
			.input-wrapper {
				text-align: center;
			}
	}

	// images
	.image-thumbs {
		label {
			display: inline-block !important;
			max-width: 300px;
		}
		img {
			height: 120px;
			max-width: 300px;
			width: auto;
			float: left;
		}
		input[type=checkbox] {
			display: none !important;
		}
	}

	/**.image-options{
		display: none;
	}

	input[type=checkbox]:checked ~ .image-options {
		display: inline-block;
		width: 60%;
		float: right;
	} **/

	.image-options {
		font-size: 0.6em;
		display: inline-block;
		float: right;
	}
}
