/* line 5, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
/* line 103, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

/* line 32, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* line 3, ../../components/sass/normal-screens/_base.scss */
body {
  font-family: Verdana, sans-serif;
  font-size: 16px; }
/* line 7, ../../components/sass/normal-screens/_base.scss */
body a {
  text-decoration: none;
  color: black; }
/* line 10, ../../components/sass/normal-screens/_base.scss */
body a:visited {
  color: black; }
/* line 14, ../../components/sass/normal-screens/_base.scss */
body b {
  font-weight: bold; }
/* line 17, ../../components/sass/normal-screens/_base.scss */
body h1 {
  font-size: 1.9em; }
/* line 20, ../../components/sass/normal-screens/_base.scss */
body h2 {
  font-size: 1.6em; }
/* line 23, ../../components/sass/normal-screens/_base.scss */
body h3 {
  font-size: 1.3em; }

/* line 29, ../../components/sass/normal-screens/_base.scss */
.spacerhalfem {
  position: relative;
  background-color: #fff;
  display: block;
  height: .5em;
  z-index: 255; }

/* line 37, ../../components/sass/normal-screens/_base.scss */
.spacer1em {
  position: relative;
  background-color: #fff;
  display: block;
  height: 1em;
  z-index: 255; }

/* line 4, ../../components/sass/normal-screens/_layout.scss */
.side-logo {
  position: fixed;
  top: 17%;
  left: 7%;
  width: 4em;
  z-index: 100;
  background-color: white; }

/* line 13, ../../components/sass/normal-screens/_layout.scss */
nav {
  font-size: .8em;
  display: inline;
  position: fixed;
  top: 35%;
  left: 7%;
  width: 20%;
  height: 60%;
  color: black; }
/* line 22, ../../components/sass/normal-screens/_layout.scss */
nav li {
  margin-top: 1em; }

/* line 27, ../../components/sass/normal-screens/_layout.scss */
.menu-element {
  display: inline-block; }

/* line 32, ../../components/sass/normal-screens/_layout.scss */
.currentPage {
  font-size: 1.5em;
  position: absolute;
  left: 35%;
  top: 2%;
  font-size: 1.3em;
  border-bottom: 2px solid black;
  padding-bottom: .2em; }

/* line 46, ../../components/sass/normal-screens/_layout.scss */
#wrapper {
  display: inline-block;
  position: absolute;
  left: 30%;
  width: 60%;
  max-width: 800px;
  min-width: 500px;
  top: 12%;
  height: 75%;
  overflow: hidden;
  float: left;
  border-left: 2px solid #ccc; }

/* line 61, ../../components/sass/normal-screens/_layout.scss */
#edit-wrapper {
  margin: 2em;
  display: inline-block;
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  height: 100%;
  width: 28em;
  float: left; }
/* line 72, ../../components/sass/normal-screens/_layout.scss */
#edit-wrapper .buttons {
  float: right; }

/* line 77, ../../components/sass/normal-screens/_layout.scss */
#admin-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 85, ../../components/sass/normal-screens/_layout.scss */
.preview {
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0%;
  overflow: hidden; }

/* line 96, ../../components/sass/normal-screens/_layout.scss */
.wrap-iframe {
  left: -15em;
  top: -5em;
  position: relative;
  float: left;
  width: 30em;
  height: 17.5em;
  padding: 0; }

/* line 107, ../../components/sass/normal-screens/_layout.scss */
iframe {
  position: relative;
  width: 60em;
  height: 35em;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  border: 2px solid black; }

/* line 122, ../../components/sass/normal-screens/_layout.scss */
.article {
  border-top: 2px solid #ddd;
  margin: 10px;
  overflow: hidden; }
/* line 127, ../../components/sass/normal-screens/_layout.scss */
.article .article-image {
  position: relative;
  display: inline-block;
  margin: 1em;
  float: right; }
/* line 134, ../../components/sass/normal-screens/_layout.scss */
.article .article-image .portrait.image-small {
  height: 12em;
  width: auto; }
/* line 139, ../../components/sass/normal-screens/_layout.scss */
.article .article-image .landscape.image-small {
  width: 12em;
  height: auto; }
/* line 144, ../../components/sass/normal-screens/_layout.scss */
.article .article-image .portrait.image-medium {
  display: block;
  height: 24em;
  width: auto; }
/* line 150, ../../components/sass/normal-screens/_layout.scss */
.article .article-image .landscape.image-medium {
  display: block;
  width: 24em;
  height: auto; }
/* line 156, ../../components/sass/normal-screens/_layout.scss */
.article .article-image .portrait.image-large {
  display: block;
  height: 80%;
  width: auto; }
/* line 161, ../../components/sass/normal-screens/_layout.scss */
.article .article-image .landscape.image-large {
  display: block;
  width: 100%;
  height: auto; }

/* line 168, ../../components/sass/normal-screens/_layout.scss */
img {
  float: right;
  margin-left: 1em;
  margin-bottom: .2em; }

/* line 174, ../../components/sass/normal-screens/_layout.scss */
.portrait.image-small {
  height: 24em;
  width: auto; }

/* line 179, ../../components/sass/normal-screens/_layout.scss */
.landscape.image-small {
  width: 24em;
  height: auto; }

/* line 184, ../../components/sass/normal-screens/_layout.scss */
.portrait.image-medium {
  height: 40em;
  width: auto;
  display: block; }

/* line 190, ../../components/sass/normal-screens/_layout.scss */
.landscape.image-medium {
  width: 40em;
  height: auto;
  display: block; }

/* line 196, ../../components/sass/normal-screens/_layout.scss */
.portrait.image-large {
  height: 80%;
  width: auto;
  display: block; }

/* line 201, ../../components/sass/normal-screens/_layout.scss */
.landscape.image-large {
  width: 100%;
  height: auto;
  display: block; }

/* line 210, ../../components/sass/normal-screens/_layout.scss */
nav ul {
  top: 2em; }
/* line 215, ../../components/sass/normal-screens/_layout.scss */
nav li {
  font-size: 1.2em;
  height: 2em;
  width: 100%;
  position: relative; }
/* line 221, ../../components/sass/normal-screens/_layout.scss */
nav li a:hover {
  color: #777; }

/* line 228, ../../components/sass/normal-screens/_layout.scss */
.headlines {
  margin: 5em 2em 6em; }
/* line 231, ../../components/sass/normal-screens/_layout.scss */
.headlines ul {
  list-style: square; }
/* line 234, ../../components/sass/normal-screens/_layout.scss */
.headlines li {
  margin-bottom: 1em; }

/* line 239, ../../components/sass/normal-screens/_layout.scss */
#footer {
  display: block;
  margin: 2em 0 2em;
  padding-top: 1em;
  padding-right: 3em;
  position: relative;
  left: 1em;
  border-top: 2px solid #ddd;
  width: 80%;
  font-size: 0.7em; }

/* line 256, ../../components/sass/normal-screens/_layout.scss */
.login-form {
  position: absolute;
  top: 23%;
  left: 30%;
  width: 40%;
  margin: 20px auto;
  padding: 40px 20px;
  overflow: auto;
  background: #ccc;
  border: 1px solid #666;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px; }
/* line 271, ../../components/sass/normal-screens/_layout.scss */
.login-form label {
  display: inline-block;
  width: 5em; }

/* line 280, ../../components/sass/normal-screens/_layout.scss */
.adminHeader {
  position: absolute;
  left: 7%;
  top: 33%;
  width: 15%;
  font-size: 1.2em; }

/* line 290, ../../components/sass/normal-screens/_layout.scss */
.article-table {
  margin-top: 6em;
  margin-bottom: 6em;
  font-size: 0.8em; }
/* line 295, ../../components/sass/normal-screens/_layout.scss */
.article-table th {
  font-weight: bold;
  width: 15%;
  height: 2em;
  border-bottom: 2px solid black;
  margin-bottom: 0.2em; }
/* line 303, ../../components/sass/normal-screens/_layout.scss */
.article-table tbody tr {
  height: 1.3em; }
/* line 305, ../../components/sass/normal-screens/_layout.scss */
.article-table tbody tr:hover {
  background-color: #aab; }
/* line 312, ../../components/sass/normal-screens/_layout.scss */
.article-table tr:nth-child(2n) {
  background-color: #eef; }

/* line 319, ../../components/sass/normal-screens/_layout.scss */
.image-thumbs {
  border: 3px solid #aaa;
  padding: .3em; }
/* line 322, ../../components/sass/normal-screens/_layout.scss */
.image-thumbs label {
  font-size: .9em;
  font-weight: bold;
  vertical-align: top; }
/* line 327, ../../components/sass/normal-screens/_layout.scss */
.image-thumbs:empty {
  display: none !important; }

/* line 332, ../../components/sass/normal-screens/_layout.scss */
.image-thumb {
  display: block; }
/* line 334, ../../components/sass/normal-screens/_layout.scss */
.image-thumb button {
  float: right;
  margin-right: 1em;
  font-size: .7em; }

/* line 341, ../../components/sass/normal-screens/_layout.scss */
.image-form-wrapper {
  position: relative;
  display: block;
  padding: 1.5em;
  border: solid 2px black;
  height: 11em; }

/* line 352, ../../components/sass/normal-screens/_layout.scss */
.column {
  display: inline-block;
  width: 49%;
  height: 7em;
  float: left; }

/* line 359, ../../components/sass/normal-screens/_layout.scss */
.image-preview {
  height: 10em;
  float: right; }
/* line 362, ../../components/sass/normal-screens/_layout.scss */
.image-preview img {
  height: 100%; }

/* line 367, ../../components/sass/normal-screens/_layout.scss */
.clear-float {
  display: block; }

/* line 374, ../../components/sass/normal-screens/_layout.scss */
.preview #wrapper {
  left: 0 !important;
  width: auto !important; }

/* line 3, ../../components/sass/normal-screens/_modules.scss */
.side-logo {
  font-size: 1.8em; }

/* line 9, ../../components/sass/normal-screens/_modules.scss */
.article {
  margin-top: 2.5em;
  padding: 5px;
  font-size: 0.8em;
  line-height: 1.5;
  text-align: justify; }
/* line 17, ../../components/sass/normal-screens/_modules.scss */
.article h2 {
  margin-top: 2em;
  font-size: 1.15em;
  margin-bottom: 1em; }
/* line 22, ../../components/sass/normal-screens/_modules.scss */
.article h3 {
  font-size: 0.9em;
  margin-top: 1.3em; }
/* line 27, ../../components/sass/normal-screens/_modules.scss */
.article p {
  margin-top: 0.5em;
  line-height: 1.5;
  text-align: justify; }
/* line 33, ../../components/sass/normal-screens/_modules.scss */
.article .title {
  font-size: 1.6em;
  margin-bottom: 3em; }

/* line 46, ../../components/sass/normal-screens/_modules.scss */
input#open-menu {
  display: none; }

/* line 51, ../../components/sass/normal-screens/_modules.scss */
label.open-menu-label {
  display: none; }

/* line 56, ../../components/sass/normal-screens/_modules.scss */
nav .active {
  border-bottom: 2px solid black; }

/* line 63, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper {
  	/**.image-options{
  		display: none;
  	}
  
  	input[type=checkbox]:checked ~ .image-options {
  		display: inline-block;
  		width: 60%;
  		float: right;
  	} **/ }
/* line 65, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper ul {
  margin-top: 3em; }
/* line 68, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper label {
  font-size: .8em;
  display: inline-block;
  margin-bottom: .4em;
  width: 9em; }
/* line 75, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper input, #edit-wrapper textarea {
  margin-bottom: 1em;
  background-color: #e0eaf1;
  border-radius: 3px;
  padding: 0.3em; }
/* line 82, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper textarea {
  float: left;
  width: 30em;
  height: 30em; }
/* line 89, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper .page-radiobuttons {
  font-size: .7em;
  display: block;
  margin-bottom: 2em;
  /*.input-wrapper input {
  	width: 1em;
  	left: 50%;
  	position: relative;
  	transform: translate(.5em, 0);
  }*/ }
/* line 95, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper .page-radiobuttons .page-radiobutton {
  display: inline-block;
  padding: 0 .7em; }
/* line 99, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper .page-radiobuttons .page-radiobutton input {
  margin-bottom: 0 !important; }
/* line 110, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper .page-radiobuttons .input-wrapper {
  text-align: center; }
/* line 117, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper .image-thumbs label {
  display: inline-block !important;
  max-width: 300px; }
/* line 121, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper .image-thumbs img {
  height: 120px;
  max-width: 300px;
  width: auto;
  float: left; }
/* line 127, ../../components/sass/normal-screens/_modules.scss */
#edit-wrapper .image-thumbs input[type=checkbox] {
  display: none !important; }

/* line 144, ../../components/sass/normal-screens/_modules.scss */
.image-options {
  font-size: 0.6em;
  display: inline-block;
  float: right; }
