
// Small screens

// sticky header

.side-logo {
	position: fixed;
	top: 0;

	height: 2em;
	width: 100%;
	z-index: 100;
	background-color: white;
}

#menu-bar label {
	position: fixed;
	top: 2em;
	height: 2em;
	width: 100%;
	background-color: white;
	z-index: 100;
	border-bottom: 5px solid black;
}

.currentPage {
	position: fixed;
	right: 0;
	top: 0;
	font-size: 1.7em;
	z-index: 200;
	padding: 0.1em;
}



// get content under menu bar

#content {
	top: 1em;
	position: relative;
}




.article {
	position: relative;
	margin: 10px;
	


}

nav {
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	top: 4em;

	background-color: #000;
	color: #fff;
	z-index: 100;

	ul {
		position: relative;
		top: 2em;
	}

	li {
		font-size: 2em;
		height: 3em;
		width: 100%;
		position: relative;
		left: 1em;
		a {

			color: white !important;
			
		}
	}
}

#footer {
	top: 4em;
	position: relative;
	display: block;
}





