// ************** HEADER

.side-logo {
	font-size: 2.8em;
}

//  *************** Content

.article {
	padding: 5px;
	h2 {
		font-size: 1.3em;
		margin-top: 2.5em;
		margin-bottom: 1em;
	}
	h3 {
		font-size: 1em;
		margin-top: 1.5em;
	}

	p {
		margin-top: 0.5em;
	}

	.title {
		font-size: 2em;
		margin-bottom: 3em;
	}
}




// SIDE-MENU

// disable menu button

input#open-menu {
	display: none;
}


label.open-menu-label {
	display: none;
}

nav {
	.active {
		border-bottom: 2px solid black;
	}
}
