// some basic specifications

body { 

	font-family: 'Monda', sans-serif;
	font-size: 16px;
	a {
		text-decoration: none;
		color: black;
		&:visited {
			color: black;
		}
	}

}


.spacerhalfem {
	position: relative;
	background-color: #fff;
	display: block;
	height: .5em;
	z-index: 255;
}

.spacer1em {
	position: relative;
	background-color: #fff;
	display: block;
	height: 1em;
	z-index: 255;
}


// __________________________________________ SMALL SCREENS

// Navigation



nav {
	display: none;
}

// __________________________________________ MEDIUM SIZED SCREENS




@media all and (min-width: $bp-med) {

	.open-menu-label {
		display: none !important;
	}

	.nav {
		display: inline !important;
	}
}