
// Small screens

// sticky header

.side-logo {
	position: fixed;
	top: 0;

	height: 2em;
	width: 100%;
	z-index: 100;
	background-color: white;
}

#menu-bar label {
	position: fixed;
	top: 2em;
	height: 2em;
	width: 100%;
	background-color: white;
	z-index: 100;
	border-bottom: 5px solid black;
}

.currentPage {
	position: fixed;
	right: 0;
	top: 0;
	font-size: 1.7em;
	z-index: 200;
	padding: 0.1em;
}



// get content under menu bar

#content {
	top: 1em;
	position: relative;
	height: 115%;
}




.article {
	position: relative;
	margin: 10px;
}

nav {
	position: fixed;
	left:0;
	right:0;
	bottom:0;
	top: 4em;

	background-color: #000;
	color: #fff;
	z-index: 100;

	ul {
		position: relative;
		top: 2em;
	}

	li {
		font-size: 2em;
		height: 3em;
		width: 100%;
		position: relative;
		left: 1em;
		a {

			color: white !important;
			
		}
	}
}

#footer {
	display: block;
	margin: 2em 0 2em;
	padding-right: 3em;
	position:  relative;
	left: 1em;
	border-top: 2px solid #ddd;
	width: 80%;
}

// Admin Page

.login-form {
	position: absolute;
	top: 8em;
	width: 80%;

	margin: 20px auto;
    padding: 40px 20px;
    overflow: auto;
    background: #ccc;
    border: 1px solid #666;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;  
    border-radius: 5px;
    -moz-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 .5em rgba(0, 0, 0, .8);
    box-shadow: 0 0 .5em rgba(0, 0, 0, .8);

}


.adminHeader {
	position: relative;
	display: block;
	top: 5em;
}







